h1{
  color: black;
  text-align:center;
  font-size:60px;
  font-family:"Comic Sans MS", cursive, sans-serif;
}

h2{
  color:red;
  text-align:center;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
p{
  text-align:center;
  font-size: 30px;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
a:link, a:visited{
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active{
  text-align:center;
  background-color: red;
}
