body {
    background: white;
    overflow:hidden;
    background: url("finding-nemo-background.jpg") no-repeat fixed center;
    background-size:cover;
}
p{
  text-align: center;
  font-size:50px;
  font-family: sans-serif;
  padding-top: 50px;
}
a:link, a:visited{
  position: static;
  font-family: sans-serif;
  background-color: lightseagreen;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active{
  position: static;
  font-family: sans-serif;
  background-color: yellow;
  color: black;
}
#logo2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 50%;

}
#logo{
  width:350px;
  height:auto;
  float: left;
  padding-left: 5px;
  padding-top: 670px;
  left: 0px;
  bottom: 0px;

}
#nemo{
  width:100px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#dory{
  width:150px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#dory2{
  width:150px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#pearl{
  width:80px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#turtle{
  width:150px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#turtle2{
  width:100px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#turtleSmall{
  width:100px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#turtleSmall2{
  width:150px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
#shark{
  width:150px;
  height:auto;
  top:50%;
  left:50%;
  position: absolute;
}
