h1{
  font-family: sans-serif;
}

.box {
    border: 1px dotted #FFF;
    height: 20px;
    width: 20px;
    float: left;
}

.pink {
    background-color: pink;
}

.turquoise {
    background-color: turquoise;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.avocado{
    content:"❤️";
}
br {
    clear: both;
}
